<!DOCTYPE html>
<html>
<head>
	<title>Client</title>
	<meta charset="UTF-8">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../static/styles/client.css?{{ cache_id }}">
	<link rel="icon" href="../static/images/logo.png">
	<script type="text/javascript" src="../static/scripts/client.js?{{ cache_id }}"></script>
</head>
<body>
	<header>
		<h1><a href="http://127.0.0.1:5000/">CliniCare</a></h1>
		<nav>
			<ul>
				<li><a href="{{ url_for('client_logout') }}">Logout</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<section id="test" class="personal-data" available>
			<table class="info">
				<tr>
					<td><h2>Personal Information</h2></td>
				</tr>
				<tr>
					<td>Name:</td>
					<td>
						<output name="name">{{ patient.fname }} {{ patient.lname }}</output>
					</td>
					<td>Age:</td>
					<td>
						<output name="age">{{ patient.birthyear }}</output>
					</td>
				</tr>
				<tr>
					<td>Gender:</td>
					<td>
						<output name="gender">{{ patient.sex }}</output>
					</td>
				</tr>
				<tr>
					<td><h2>Address</h2></td>
				</tr>
				<tr>
					<td>Phone Number:</td>
					<td>
						<output name="phone">{{ patient.phone_number }}</output>
					</td>
					<td>Email Address:</td>
					<td>
						<output name="email">{{ patient.email }}</output>
					</td>
				</tr>
				<tr>
					<td> </td>
				</tr>
				<tr>
					<td>City:</td>
					<td>
						<output name="city">{{ patient.city }}</output>
					</td>
					<td>Sub-city:</td>
					<td>
						<output name="sub-city">{{ patient.subcity }}</output>
					</td>
				</tr>
				<tr>
					<td>County:</td>
					<td>
						<output name="county">{{ patient.county }}</output>
					</td>
					<td>Location:</td>
					<td>
						<output name="location">{{ patient.location }}</output>
					</td>
				</tr>
				<tr>
					<td><h2>Insurance Details</h2></td>
				</tr>
				<tr>
					<td>Insurance Company:</td>
					<td>
						<output name="insurance-name">{{ patient.insurance_company }}</output>
					</td>
					<td>Insurance Number:</td>
					<td>
						<output name="insurance-number">{{ patient.insurance_number }}</output>
					</td>
				</tr>
			</table>
		</section>

		<section class="date-filter">
			{% if length == 0 %}
			<li>
				<input type="checkbox" data-id="" data-name="">
				There is No Previous Visit
			</li>
			{% elif length >= 1  %}
			<ul>
				<h2>Previous Visits:</h2>
				{% for i in num %}
					<li>
						<input type="checkbox" data-id="{{ visits[i].id }}" data-name="{{ visits[i].updated_at }}">
						{{ visits[i].updated_at }}
					</li>
				{% endfor %}
			</ul>
			<button id="search-date">Search Date</button>
			<h3>Date Selected:</h3>
			<h4>&nbsp;</h4>
			{% endif %}
		</section>

		<section class="patient-info">
			<!-- jquery section-->
		</section>
	</main>
	<footer>
		<p>This is the landing page of a portfolio project done for 
			<a href="https://www.alxafrica.com/software-engineering/">ALX software engineering</a> proram.<br>
			Here is the
			<a href="https://github.com/">github repository</a></p>
			<p>Powered by: <a href="https://github.com/bek2518">Bek</a> and <a href="https://github.com/dkkiooko">Dan</a></p>
			<p>&copy; 2023 CliniCare EMR</p>
	</footer>
</body>
</html>
