<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
	<meta charset="UTF-8">
	<link rel="icon" href="../static/images/logo.png">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../static/styles/style.css">
</head>
<header>
	<b><u>Notice:</u></b> This login page is to be used by clients only.<br>If a provider please login <a href={{ url_for('login') }}>here</a>
</header>
<body>
	<div class="background"></div>
	<div class="login-box">
		<h1><a href="http://127.0.0.1:5000/">CliniCare</a></h1>
		<h2>Client Login</h2>
		<form method="POST">
			<label for="patient_id">Patient-ID</label>
			<input type="text" name="username" id="username" placeholder="Enter your patient-id">
			<label>Password</label>
			<input type="password" name="password" placeholder="Enter Password">
			<input type="submit" value="Login">
		</form>
		{% if error %}
			<p>{{ error }}</p>
		{% endif %}
	</div>
	<footer>

		<p>This is the client login page of a portfolio project done for 
		<a href="https://www.alxafrica.com/software-engineering/">ALX software engineering</a> program.<br>
			Here is the
		<a href="https://github.com/">github repository</a></p>
		<p>Powered by: <a href="https://github.com/bek2518">Bek</a> and <a href="https://github.com/dkkiooko">Dan</a></p>
		<p>&copy; 2023 CliniCare EMR</p>
		<a href="https://www.freepik.com/free-photo/flat-lay-health-still-life-arrangement-with-copy-space_12412915.htm#query=medical%20background&position=5&from_view=search&track=ais">Image By Freepik</a> 
	</footer>
</body>
</html>
