<!DOCTYPE html>
<html>
<head>
	<title>Physician</title>
	<meta charset="UTF-8">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../static/styles/doctor.css?{{ cache_id }}">
	<link rel="icon" href="../static/images/logo.png">
	<script type="text/javascript" src="../static/scripts/doctor.js?{{ cache_id }}"></script>
</head>
<body>
	<header>
		<h1><a href="http://127.0.0.1:5000/">CliniCare</a></h1>
		<nav>
			<ul>
				<li><a href="{{ url_for('logout') }}">Logout</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<section class="search">
			<table class="search_info">
				<tr>
					<form>
						<th><label for="patient-id">Patient-ID</label>
							<input id="input_patient_id" type="text" placeholder="Insert ID here">
							<button id="search_id" type="button">Search</button>
						</th>
					</form>
				</tr>
			</table>
		</section>

		<section id="test" class="personal-data" available>
			<!-- Personal Data jQuery Section-->
		</section>

		<section class="patient-info">
			<!-- jQuery section for retrieval of previous visit or to add new visit-->
		</section>
	</main>
	<footer>
		<p>This is the landing page of a portfolio project done for 
			<a href="https://www.alxafrica.com/software-engineering/">ALX software engineering</a> proram.<br>
			Here is the
			<a href="https://github.com/">github repository</a></p>
			<p>Powered by: <a href="https://github.com/bek2518">Bek</a> and <a href="https://github.com/dkkiooko">Dan</a></p>
			<p>&copy; 2023 CliniCare EMR</p>
	</footer>
</body>
</html>
