<!DOCTYPE html>
<html>
	<head>
		<title>CliniCare</title>
		<link rel="stylesheet" type="text/css" href="../static/styles/landing_style.css?{{ cache_id }}">
		<link rel="icon" href="../static/images/logo.png">
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
		<script type="text/javascript" src="../static/scripts/landing_page.js?{{ cache_id }}"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<body>
		<header>
			<section class="description">
				<div class="desc_img">
					<h2>Welcome to CliniCare</h2>
						<p>WHERE CARE MEETS INNOVATION</p>
				</div>
			</section>
			<nav>
				<ul>
					<li><a href="http://127.0.0.1:5000/" class="active">Home</a></li>
					<li><a href="http://127.0.0.1:5000/demo">Demo</a></li>
					<li><a href="#about-us">About Us</a></li>
					<li><a href="#developers">Developers</a></li>
					<li><a href="#videos">Videos</a></li>
					<li><a href="#news">News</a></li>
					<li><a href="#contact">Contact Us</a></li>
				</ul>
			</nav>
		</header>
		<div class="container">
			<section class="services">
				<h2>Features</h2>
				<div class="services-list">
					<div class="service-desc" id="separate-1">
						<h3>Patient access</h3>
						<p>With Clinicare Patients can access their medical information and can track their progress easily.</p>
					</div>
					<div class="service-item item1" id="service-item-1">
					</div>
					<div class="service-desc" id="separate-2">
						<h3>User-Friendly</h3>
						<p>The simplistic elegant design makes CliniCare user-friendly and uderstandable by care providers.</p>
					</div>
					<div class="service-item item2" id="service-item-2">
					</div>
					<div class="service-desc" id="separate-3">
						<h3>Secure and compartmentalized</h3>
						<p>Access to information is compartmentalized, making patient information secure.</p>
					</div>
					<div class="service-item item3" id="service-item-3">
					</div>
				</div>
			</section>
			
			<section id="about-us">
				<div class="about">
				  	<div class="row">
						<div class="col-lg-12">
					  		<h2>About Us</h2>
					  		<p>As a physician working in the public sector, I have witnessed firsthand the detrimental effects of an outdated paper-based system on patient care. The lack of an electronic system has resulted in delayed clinical care, misplaced medical records, and a sense of frustration among both patients and colleagues.</p>
					  		<p>When thinking of ideas to work on for our portfolio project, we discovered that this issue is present in both our countries, Ethiopia and Kenya.</p>
					  		<p>To address this challenge, we embarked on a mission to develop an Electronic Medical Record (EMR) system that can be implemented in small health facilities, significantly improving the quality of care provided. Our aim is to ensure that patients receive timely and efficient care, while also streamlining medical records for ease of access and retrieval.</p>
					  		<p>We begun development of the first version of CliniCare EMR starting from March 10, 2023. Which followed a rigorous three-week research period from February 17, 2023, to March 9, 2023, where we explored various options and strategies to ensure the success of our project. We are confident that our system will have a hand in providing a reliable, efficient, and user-friendly platform for medical professionals to deliver quality care to their patients.</p>
						</div>
				  	</div>
				</div>
			</section>	  
			<section class="care_providers" id="developers">
				<p>Meet the Developers</p>
				<div class="providers pro1">
					<div class="specific">
						<h2 class="name">Dr. Bereket Bayou</h2>
						<h3 class="specialty">Ethiopian</h3>
						<h3 class="specialty">Medical Doctor</h3>
						<h4>Full Stack Software Engineering<br>Student at ALX</h4>
						<a href="https://github.com/bek2518" target="_blank" class="fa fa-github"></a>
						<a href="https://linkedin.com/in/bereket-bayou-61bba6199" target="_blank" class="fa fa-linkedin"></a>
						<a href="https://twitter.com/bereket_bayou" target="_blank" class="fa fa-twitter"></a>
					</div>
				</div>
				<div class="providers pro1 pro2">
					<div class="specific">
						<h2 class="name">Daniel Kioko</h2>
						<h3 class="specialty">Kenyan</h3>
						<h3 class="specialty">Data Scientist</h3>
						<h4>Full Stack Software Engineering<br>Student at ALX</h4>
						<a href="https://github.com/dkkiooko" target="_blank" class="fa fa-github"></a>
						<a href="https://linkedin.com/in/kithekadankioko" target="_blank" class="fa fa-linkedin"></a>
						<a href="https://twitter.com/dan_kioko_STEM" target="_blank" class="fa fa-twitter"></a>
					</div>
				</div>
			</section>
			<section class="news_vid">
				<div class="videos" id="videos">
					<h2>Demo</h2>
					<div class="vids">
						<section class="vid1">
							<video width ="1080" height="540" controls>
								<source src="../static/videos/vid1.mp4" type="video/mp4">
							</video>
							<h3>CliniCare at work</h3>
								<p></p>
						</section>
					</div>
				</div>

				<div class="news" id="news">
					<rssapp-carousel id="FsCWpmqpweF4UbJY"></rssapp-carousel><script src="https://widget.rss.app/v1/carousel.js" type="text/javascript" async></script>
				</div>
			</section>
			<section class="inquiry" id="contact">
				<h2>For Additional Inquiry:</h2>
				<form>
					<input type="text" id="name" name="name" required placeholder="Your Name">
					<input type="email" id="email" name="name" required placeholder="Your Email Address">
					<input type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4} [0-9]{2}" required placeholder="Your Phone Number">
					<input type="text" id="subject" name="subject" required placeholder="Subject of Your Inquiry">
					<textarea required placeholder="Your Message or Inquiry"></textarea>
					<button type="submit">Send</button>
				</form>
			</section>
		</div>
		<a href="https://www.freepik.com/free-photo/young-handsome-physician-medical-robe-with-stethoscope_6190059.htm#query=medical%20background&position=4&from_view=search&track=ais">Image by senivpetro</a>
		<footer>
			<p>This is the landing page of a portfolio project done for 
				<a href="https://www.alxafrica.com/software-engineering/" target="_blank">ALX software engineering</a> proram.<br>
				Here is the
				<a href="https://github.com/" target="_blank">github repository</a></p>
				<p>Powered by: <a href="https://github.com/bek2518" target="_blank">Bek</a> and <a href="https://github.com/dkkiooko" target="_blank">Dan</a></p>
				<p>&copy; 2023 CliniCare EMR</p>
		</footer>
	</body>
</html>
	