<!DOCTYPE html>
<html>
<head>
	<title>Reception</title>
	<meta charset="UTF-8">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../static/styles/reception.css?{{ cache_id }}">
	<link rel="icon" href="../static/images/logo.png">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script type="text/javascript" src="../static/scripts/reception.js"></script>
</head>
<body>
	<header class="main-header">
		<h1><a href="http://127.0.0.1:5000/">CliniCare</a></h1>
		<h2>Reception Portal</h2>
		<nav>
			<ul>
				<li>Logged in as {{ username }}</li>
				<li><a href="{{ url_for('logout') }}"><i class="fa fa-sign-out"></i>Logout</a></li>
			</ul>
		</nav>
	</header>
	
	<main>
		<section id="personal-data new" class="new">
			<form class="test">
				<h2>Personal Data</h2>
				<label for="name">First Name:</label>
				<input type="text" id="fname" name="fname">
				<label for="name">Last Name:</label>
				<input type="text" id="lname" name="lname">
				<label for="dob">Date of Birth:</label>
				<input type="date" id="birthyear" name="birthyear">
				<label for="gender">Gender:</label>
				<select id="sex" name="sex">
					<option value="">Select Gender</option>
					<option value="M">Male</option>
					<option value="F">Female</option>
				</select>

				<h2>Address</h2>

				<label for="city">City:</label>
				<input type="text" id="city" name="city">
				<label for="sub-city">Sub-city:</label>
				<input type="text" id="subcity" name="subcity">
				<label for="county">County:</label>
				<input type="text" id="county" name="county">
				<label for="location">Location:</label>
				<input type="text" id="location" name="location">
				<label for="phone">Phone:</label>
				<input type="tel" id="phone_number" name="phone_number" pattern="[0-9]{10}">
				<label for="email">Email:</label>
				<input type="email" id="email" name="email">
				<label for="post_address">Post Address</label>
				<input type="text" id="post_address" name="post_address">

				<h2>Insurance Detail</h2>

				<label for="insurance-name">Insurance Company:</label>
				<input type="text" id="insurance_company" name="insurance_company">
				<label for="policy-number">Insurance Number:</label>
				<input type="text" id="insurance_number" name="insurance_number">

				<h2>Emergency Contact</h2>

				<label for="name">First Name:</label>
				<input type="text" id="emergency_fname" name="emergency_fname">
				<label for="name">Last Name:</label>
				<input type="text" id="emergency_lname" name="emergency_lname">
				<label for="phone">Phone:</label>
				<input type="tel" id="emergency_number" name="emergency_number" pattern="[0-9]{10}">
				<label for="email">Email:</label>
				<input type="email" id="emergency_email" name="emergency_email">
			
				<button type="button" id="create_patient">Create Patient</button>
			</form>
			<br><br>
		</section>
	</main>
	<footer>
		<p>This is the landing page of a portfolio project done for 
			<a href="https://www.alxafrica.com/software-engineering/">ALX software engineering</a> proram.<br>
			Here is the
			<a href="https://github.com/">github repository</a></p>
			<p>Powered by: <a href="https://github.com/bek2518">Bek</a> and <a href="https://github.com/dkkiooko">Dan</a></p>
			<p>&copy; 2023 CliniCare EMR</p>
	</footer>
</body>
</html>
