/* General Styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #333;
  background-image: url('../images/bg4.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  background-color: rgba(0, 0, 0, 0.1);
  margin-top: 100px;
}

/* Header Styles */
header {
  height: 30vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin-right: 30px;
  font-size: 25px;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

nav a:hover {
  color: #ccc;
}

nav .active {
  color: #ccc;
}

/* Description Styles */
.description {
  margin: 0 auto;
  text-align: center;
  width: 60%;
}

.desc_img h2 {
  font-size: 3.5rem;
  margin-bottom: 10px;
  text-shadow: 2px 2px #000;
}

.desc_img p {
  font-size: 1.5rem;
  text-shadow: 2px 2px #000;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .description {
    width: 80%;
  }
}

  /* Container styles */
  .container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 50px;
  }
  
  /* Services */

  .services {
    background-color: rgba(0, 0, 0, 0);
    padding: 50px;
  }
  
  .services h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    height: 100%;
    width: 100%;
  }
  
  .services-list {
    justify-content: center;
    align-items: center;
  }
  
  .service-item {
    flex-basis: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 500px;
  }
  
  .service-item h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .service-item p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  
  .service-item::before {
    content: '';
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all 0.3s ease;
    z-index: 1;
  }
  
  .service-item:hover::before {
    opacity: 1;
    top: 0;
  }
  
  .service-item:hover .btn {
    transform: translateY(0%);
  }

  .item1 {
    background-image: url('../images/patient_portal.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .item2 {
    background-image: url('../images/physician_portal_1.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .item3 {
    background-image: url('../images/login_1.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

  /* About Us Section */
#about-us {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 80px 0;
}

#about-us h2 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 40px;
  color: #333;
  text-align: center;
}

#about-us p {
  font-size: 18px;
  line-height: 1.5;
  color: black;
  margin-bottom: 30px;
  text-align: justify;
}

.about {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 768px) {
  .about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .col-lg-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .about {
    max-width: 1140px;
  }
  .col-lg-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
}


  /* Styling for care_providers section */
.care_providers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 50px;
}

.care_providers p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  text-align: center;
  width: 100%;
}

.providers {
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 400px;
  margin: 20px;
  transition: transform 0.2s;
}

.providers:hover {
  transform: scale(1.1);
  z-index: 1;
}

.providers img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.pro1 {
  min-height: 500px;
  background-image: url('../images/bek.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 40%;
}

.pro2 {
  background-image: url('../images/dan.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}


.providers h2 {
  font-size: 28px;
  margin: 0;
}

.providers h3, .providers h4 {
  font-size: 20px;
  margin: 10px 0;
  color: purple;
}

.providers a {
  display: relative;

  font-size: 16px;
  margin-top: 10px;
  color: #333;
}

.providers a:hover {
  color: #000;
}

.specific {
  margin-top: 85%;
}

.specific2 {
  margin-top: 85%;
}

  /* News and Videos */
  .news_vid {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;
  }

  .news {
    flex: 1;
    margin-right: 30px;
    background-color: rgba(0, 0, 0, 0);
  }

  .news h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .videos {
    display: 1;
    margin-left: 10%;
  }

  .videos h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .vids {
    display: flex;
    width: 100%;
    margin-left: 70px;
    justify-content: space-around;
  }

  .vid1 {
    margin-bottom: 30px;
  }

  .vid1 video {
    width: 95%;
  }

  .vid1 h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
  }

  .vid1 p {
    margin: 5px 0;
  }

  /* Contact */
  #contact {
    text-align: center;
    margin: 30px 0;
  }

  #contact h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .inquiry {
    background-color: rgba(0, 0, 0, 0);
    padding: 60px 0;
    text-align: center;
  }

  .inquiry h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 40px;
  }

  .inquiry form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
  }

  .inquiry input[type="text"],
  .inquiry input[type="email"],
  .inquiry input[type="tel"],
  .inquiry input[type="password"],
  .inquiry textarea {
    width: 70%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }

  .inquiry input[type="text"]:focus,
  .inquiry input[type="email"]:focus,
  .inquiry input[type="tel"]:focus,
  .inquiry input[type="password"]:focus,
  .inquiry textarea:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  }

  .inquiry textarea {
    height: 150px;
    resize: vertical;
  }
  
  .inquiry input[type="submit"] {
    background-color: #32c8de;
    color: #fff;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .inquiry input[type="submit"]:hover {
    background-color: #2197a5;
  }

  button {
    background-color: #009688;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
    width: 100px;
  }

  /* Style all font awesome icons */
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }

  .fa:hover {
    opacity: 0.7;
  }

  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  /* YouTube */
  .fa-youtube {
    background: #c4302b;
    color: white;
  }

  /* Linkedin */
  .fa-linkedin {
    background: #0077b5;
    color: white;
  }

  /* Github */
  .fa-github {
    font-size: 36;
    background: white;
    color: #171515;
  }

  /* Style the footer */
  footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px 0;
    font-size: 18px;
    text-align: center;
  }

  footer a {
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid #fff;
    transition: border-bottom 0.3s ease-in-out;
  }

  footer a:hover {
    border-bottom: 2px solid #5c6ac4;
  }

  footer p {
    margin: 20px 0;
    font-size: 14px;
    color: #ccc;
  }

  footer p:last-child {
    margin-bottom: 0;
  }
