body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #009688;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 16px;
}

h1 {
	font-size: 32px;
	margin: 0;
	padding: 0;
}

nav {
	display: flex;
}

nav a {
	color: #fff;
	font-size: 18px;
	margin-left: 16px;
	text-decoration: none;
}

nav a:hover {
	text-decoration: underline;
}


main {
	padding: 20px;
	margin-left: 100px;
	width: 100%;
}

section {
	margin-bottom: 20px;
}

section h2 {
	margin-top: 0;
}

.new h2 {
	margin-top: 0;
	margin-left: 100px;
}

form {
	display: flex;
	flex-direction: column;
}

label {
	margin-bottom: 5px;
}

header nav li {
	list-style-type: none;
}

input,
select {
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	width: 30%;
	margin-left: 100px;
}

button {
	padding: 10px 20px;
	border-radius: 5px;
	background-color: #009688;
	color: #fff;
	border: none;
	cursor: pointer;
	width: 200px;
	margin-left: 100px;
}

button:hover {
	background-color: #015048;
}

footer {
	background-color: #ccc;
	color: #333;
	padding: 10px;
	text-align: center;
}


