body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-image: url('../images/edit.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.main-header {
    background-color: #2F4F4F;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header h1 {
    color: #FFFFFF;
    font-size: 48px;
    font-family: Arial, sans-serif;
}

.main-header h2 {
  color: #FFFFFF;
  font-size: 24px;
  font-family: Arial, sans-serif;
}

.main-header a {
    text-decoration: none;
    color: #FFFFFF;
}

.main-header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.main-header li {
    margin-left: 20px;
	color: #FFFFFF;
}

.main-header a.fa-sign-out:before {
    content: "\f2f5";
    font-family: "FontAwesome";
    margin-right: 5px;
}

.main-header li:first-of-type {
    margin-right: auto;
}

.main-header li:first-of-type:after {
    content: "|";
    margin-left: 20px;
    color: #FFFFFF;
}

.main-header li:last-of-type a:hover {
    color: #FFD700;
}


main {
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.1);;
}

section {
	margin-bottom: 20px;
}

section h2 {
	margin-top: 0;
}

.new h2 {
	margin-top: 0;
	margin-left: 100px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

label {
	margin-bottom: 5px;
}

input,
select {
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	width: 30%;
	margin-left: 100px;
}

button {
	padding: 10px 20px;
	border-radius: 5px;
	background-color: #009688;
	color: #fff;
	border: none;
	cursor: pointer;
	width: 200px;
	margin-left: 100px;
}

button:hover {
	background-color: #015048;
}

  /* Style the footer */
  footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px 0;
    font-size: 18px;
    text-align: center;
  }

  footer a {
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid #fff;
    transition: border-bottom 0.3s ease-in-out;
  }

  footer a:hover {
    border-bottom: 2px solid #5c6ac4;
  }

  footer p {
    margin: 20px 0;
    font-size: 14px;
    color: #ccc;
  }

  footer p:last-child {
    margin-bottom: 0;
  }
